# COGS 108 - Data Checkpoint

# Names

- Anh Vuong
- Anh Bach
- Anh Pham
- Huy Nguyen

<a id='research_question'></a>
# Research Question

* How have housing costs (rent and owner-occupied) in California (based on cities) change over time from 2020 to 2021, and how does this compare to Texas?
* What percentage of of a household income is typically spent on housing in California from 2020 to 2021, and how does this compare to Texas?
* What has been the population rate of California over time, and how has it changed from 2020 to 2021? 
* Does increase in housing costs affect the decreasing in California's populations from 2020 to 2021?

# Background and Prior Work

It is widely acknowledged that California is the most populated state in the United States, with nearly 40 million residents, but only the third largest state. As a result, there is a conflict between the population and area in California, thus leading to the increasing trend in housing prices in recent years. In fact, the socioeconomic makeup of a region is significantly influenced by housing costs and population trends. This project intends to examine historical housing cost increases in California, compare them to those in other states, and comprehend any prospective effects on the state's population.

As all members of our group are California residents and are renting a place to live off-campus, we can feel the pressure while paying the rent. Especially after the emergence of the COVID-19 pandemic, there was an increasing trend in housing prices in California, and some news reports reported that more Californians were moving out of state due to the housing situation. Hence, we are interested in determining the relationship between the increasing cost of housing and California’s population.

To dig into the question, we conducted some research to explore the housing situation in California following the emergence of COVID-19. According to a report from John Duca and Anthony Murphy, in the wake of the short but steep COVID-19 recession, house prices have risen at record levels in recent months, hitting a peak increase of 19.3 percent in July 2021. These double-digit increases represent a stark departure from what occurred before the pandemic—from early 2013 to early 2020—when house prices rose at a moderate annual rate of about 5 percent and exceeded the rate of increase in rents (1). Then, we do some research to get a good understanding of the housing market in California compared to other states in the U.S. An analysis by Jack Caporal and Lyle Daly pointed out that the typical home price in California is $728,000, which is 218% of the typical U.S. price, and that California has the second highest typical home value in the United States and the second lowest income-to-home-value ratio, despite residents making 22% more than the median U.S. income (2). Lastly, we look at the California population trend in recent years. A report from Calmatters stated that according to the latest population estimates from the U.S. Census Bureau, California’s total population declined by more than 500,000 between April 2020 and July 2022. Put another way, 1 out of 100 people living in California at the beginning of the COVID-19 pandemic had, two years later, left the state — either by U-Haul or by hearse (3).

References (include links):

1. https://www.dallasfed.org/research/economics/2021/1228

2. https://www.fool.com/the-ascent/research/average-house-price-state/

3. https://calmatters.org/newsletters/whatmatters/2023/02/california-population-exodus-housing/

# Hypothesis

Our group hypothesis is that there is a relationship between the decrease in California's populations and the increase in cost of spending on housing (rent and owner-occupied) from 2020 to 2021 in which California residents are likely to move out of state because they are not able to afford housing. 

H<sub>0</sub>: There is no relationship between increasing in cost of housing in California and the decreasing in California's populations from 2020 to 2021.

H<sub>1</sub>: There is a relationship between increasing in cost of housing in California and the decreasing in California's populations from 2020 to 2021.

# Ethics & Privacy

In order to address ethics and privacy concerns, our group focused on using datasets that are publicly available online and our project is mainly for academic purposes. Our datasets are collected from government websites without sensitive or personally identifying information. We believe that our datasets are unbiased and ethical because we mainly focus on analyzing data on California’s populations and housing costs and comparing them to other states to see if there possibly is a relationship between housing costs and populations without focusing on any human bias. Our group makes sure there is no bias by aiming to collect and analyze publicly available data and datasets from trusted websites for our project and our datasets do not exclude any particular populations or are likely to reflect particular human biases in a way that could be a problem. Our datasets also do not target any particular group or conduct in a way that will lead to a particular group, whether that's defined by sex, age, ethnicity, etc. 

To detect any biases before our analysis, we will examine the source and methodology of the data collection, and check if there are any gaps or inconsistencies in the data. We will also review the literature on the topic and compare our data with other relevant studies. During our analysis, we will use appropriate statistical methods and visualizations to explore the data and identify any outliers, trends, or patterns that may indicate bias. We will also test our hypotheses and assumptions using inferential statistics and hypothesis testing. After our analysis, we will evaluate our results and conclusions in light of the data limitations and ethical implications. We will also seek feedback from our peers and instructors on our project report and presentation, and address any questions or concerns they may have. 

To handle any issues we identified, we will document them clearly and transparently in our project report and presentation, and acknowledge the limitations and uncertainties of our analysis. We will also suggest ways to improve the data quality and reliability in future research and discuss the potential implications and recommendations for policy and practice based on our findings.

# Dataset(s)

- Dataset Name: Rentals  
- Link to the dataset: https://files.zillowstatic.com/research/public_csvs/zori/City_zori_sm_month.csv?t=1684286197
- Number of observations: 3058

The Rentals dataset is found on Zillow. The dataset contains different regions in the U.S, rental prices dates and states. 

- Dataset Name: Home Values  
- Link to the dataset: https://files.zillowstatic.com/research/public_csvs/zhvi/City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv?t=1684286197
- Number of observations: 22258

The Home Values dataset is found on Zillow. The dataset contains home values (including house, single family residential home, condo and cooperative housing) for different regions in the U.S, dates and states.

Our analysis involves three interconnected datasets: California and Texas populations, housing prices, and the percentage of residents' income spent on housing. By examining these datasets, we aim to uncover trends in population growth or decline as well as changes in housing costs (both rentals and home values) from 2020 to 2021 in both states. Furthermore, we will investigate whether there is a burden on residents in terms of housing expenses and explore if this factor contributes to the migration of California residents to other states.

# Setup

In [90]:
# import working with data libraries
import pandas as pd

In [91]:
rentals = pd.read_csv('data/Cities_rent_prices.csv')
rentals.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2015-03-31,2015-04-30,...,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2713.60,2739.39,...,3502.84,3533.91,3532.30,3507.20,3462.29,3428.61,3417.70,3431.30,3457.78,3499.71
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,1956.88,1965.96,...,2879.22,2894.26,2908.89,2901.41,2892.76,2884.37,2882.66,2884.80,2890.98,2902.22
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,1277.77,1283.62,...,1594.23,1601.71,1601.11,1596.78,1589.47,1585.43,1591.96,1601.85,1611.70,1616.97
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,1586.58,1601.00,...,2002.34,2009.10,2008.05,2002.81,1994.91,1995.00,2001.11,2017.67,2035.22,2055.12
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,1026.43,1034.26,...,1476.50,1480.10,1478.38,1468.80,1465.44,1460.62,1464.34,1461.77,1471.29,1472.29

In [92]:
home_values = pd.read_csv('data/Home_values.csv')
home_values.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,131748.38,132455.15,...,651406.91,652566.15,649451.98,647042.56,644116.65,639562.42,636574.80,636522.38,640865.68,648402.40
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,215492.29,215796.93,...,958752.17,956301.04,951672.56,946636.08,944122.95,940643.45,931859.83,918976.83,907602.72,901961.10
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,98322.10,98295.78,...,265763.78,266867.32,267073.58,267042.88,267029.70,266274.68,264819.96,263256.31,262531.09,262337.29
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,121417.33,121451.26,...,285802.83,283550.66,280876.67,278762.11,277787.20,276777.00,277879.30,279127.25,280811.96,281258.73
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,97194.62,97285.79,...,266901.69,267741.24,267389.56,266847.73,266298.89,265154.99,264000.20,263038.48,263217.00,263230.89

# Data Cleaning

Describe your data cleaning steps here.

In [93]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

First, we only keep the columns that are necessary for our analysis in both Home Values and Rentals datasets. Therefore, we will remove unnecessary and duplicated columns such as RegionID, SizeRank, RegionType, Metro, StateName.

In [94]:
rentals_df = rentals.drop(columns = ['RegionID', 'SizeRank', 'RegionType', 'StateName', 'Metro'])
rentals_df.head()

,RegionName,State,CountyName,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,...,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30
0,New York,NY,Queens County,2713.60,2739.39,2762.87,2785.53,2800.16,2814.59,2826.08,...,3502.84,3533.91,3532.30,3507.20,3462.29,3428.61,3417.70,3431.30,3457.78,3499.71
1,Los Angeles,CA,Los Angeles County,1956.88,1965.96,1983.06,1996.93,2018.20,2035.56,2054.40,...,2879.22,2894.26,2908.89,2901.41,2892.76,2884.37,2882.66,2884.80,2890.98,2902.22
2,Houston,TX,Harris County,1277.77,1283.62,1293.96,1306.04,1311.23,1317.00,1313.47,...,1594.23,1601.71,1601.11,1596.78,1589.47,1585.43,1591.96,1601.85,1611.70,1616.97
3,Chicago,IL,Cook County,1586.58,1601.00,1616.00,1626.78,1635.25,1640.22,1640.08,...,2002.34,2009.10,2008.05,2002.81,1994.91,1995.00,2001.11,2017.67,2035.22,2055.12
4,San Antonio,TX,Bexar County,1026.43,1034.26,1044.44,1051.87,1055.72,1054.79,1052.94,...,1476.50,1480.10,1478.38,1468.80,1465.44,1460.62,1464.34,1461.77,1471.29,1472.29

In [95]:
home_values_df = home_values.drop(columns = ['RegionID', 'SizeRank', 'RegionType', 'StateName', 'Metro'])
home_values_df.head()

,RegionName,State,CountyName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,...,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30
0,New York,NY,Queens County,131748.38,132455.15,133172.63,134560.11,135952.72,137452.07,139023.21,...,651406.91,652566.15,649451.98,647042.56,644116.65,639562.42,636574.80,636522.38,640865.68,648402.40
1,Los Angeles,CA,Los Angeles County,215492.29,215796.93,216730.58,218588.29,220924.23,223189.63,225514.65,...,958752.17,956301.04,951672.56,946636.08,944122.95,940643.45,931859.83,918976.83,907602.72,901961.10
2,Houston,TX,Harris County,98322.10,98295.78,98159.00,98115.04,98097.22,98260.88,98465.22,...,265763.78,266867.32,267073.58,267042.88,267029.70,266274.68,264819.96,263256.31,262531.09,262337.29
3,Chicago,IL,Cook County,121417.33,121451.26,121760.21,122543.59,123591.28,124725.04,125781.21,...,285802.83,283550.66,280876.67,278762.11,277787.20,276777.00,277879.30,279127.25,280811.96,281258.73
4,San Antonio,TX,Bexar County,97194.62,97285.79,97355.59,97480.82,97032.68,96417.65,95749.36,...,266901.69,267741.24,267389.56,266847.73,266298.89,265154.99,264000.20,263038.48,263217.00,263230.89

Secondly, we only want to keep the data for two states (California and Texas) from 2020 to 2021 in both Home Values and Rentals datasets for futher analysis so we will remove all data that is not from California and Texas and in the range 2020 to 2021.

In [96]:
date_columns = rentals_df.columns[rentals_df.columns.str.match(r'\d{4}-\d{2}-\d{2}')]
under_2020 = [col for col in date_columns if '2015' <= col[:4] < '2020']
above_2021 = [col for col in date_columns if '2022' <= col[:4]]
rentals_df = rentals_df.drop(columns = under_2020)
rentals_df = rentals_df.drop(columns = above_2021)
desired_states = ['CA', 'TX']
rentals_df = rentals_df[rentals_df['State'].isin(desired_states)]
rentals_df.head()

,RegionName,State,CountyName,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,...,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31
1,Los Angeles,CA,Los Angeles County,2510.28,2518.62,2517.04,2500.80,2475.75,2456.68,2450.78,...,2422.79,2438.46,2463.39,2495.74,2539.99,2595.53,2637.64,2668.22,2685.79,2707.70
2,Houston,TX,Harris County,1393.81,1396.58,1398.85,1392.25,1381.54,1370.17,1368.06,...,1373.25,1388.31,1414.68,1446.19,1476.32,1502.31,1513.30,1521.81,1523.82,1531.17
4,San Antonio,TX,Bexar County,1194.69,1199.10,1200.11,1196.88,1194.36,1194.06,1199.38,...,1227.98,1241.48,1261.77,1285.28,1314.39,1349.42,1377.23,1389.72,1390.66,1394.12
8,San Diego,CA,San Diego County,2284.07,2291.36,2299.29,2286.39,2272.85,2265.46,2279.49,...,2366.21,2398.51,2448.29,2495.34,2551.46,2614.24,2678.74,2726.51,2759.68,2772.30
9,Dallas,TX,Dallas County,1384.97,1392.60,1401.31,1399.37,1393.15,1386.81,1385.40,...,1409.04,1430.89,1459.24,1497.13,1536.56,1568.75,1591.49,1599.46,1610.59,1616.32

In [97]:
date_columns = home_values_df.columns[home_values_df.columns.str.match(r'\d{4}-\d{2}-\d{2}')]
under_2020 = [col for col in date_columns if '2000' <= col[:4] < '2020']
above_2021 = [col for col in date_columns if '2022' <= col[:4]]
home_values_df = home_values_df.drop(columns = under_2020)
home_values_df = home_values_df.drop(columns = above_2021)
desired_states = ['CA', 'TX']
home_values_df = home_values_df[home_values_df['State'].isin(desired_states)]
home_values_df.head()

,RegionName,State,CountyName,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,...,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31
1,Los Angeles,CA,Los Angeles County,718764.06,721724.91,723314.01,724390.00,722622.73,718010.76,717494.09,...,801985.93,808613.99,819086.43,832229.17,847534.39,860706.60,872235.27,881017.62,889984.77,899778.21
2,Houston,TX,Harris County,192470.07,193304.53,194095.50,194661.91,194793.17,194865.30,195259.70,...,212538.59,215555.29,218936.54,222528.44,225677.57,227879.47,229380.34,231156.00,233653.48,236598.49
4,San Antonio,TX,Bexar County,191295.67,192483.68,193537.30,194249.51,194590.77,194859.07,195555.95,...,213935.53,216757.46,219858.64,223260.88,226477.76,228939.85,230744.21,232470.05,234943.26,237959.70
8,San Diego,CA,San Diego County,645762.30,649821.29,654802.93,660529.98,663553.88,664411.67,664944.17,...,742320.48,755756.36,771645.30,788159.71,802479.12,810910.50,814848.73,818352.86,824976.14,835340.08
9,Dallas,TX,Dallas County,223110.97,225481.89,227739.70,228695.15,228468.47,227804.86,227776.65,...,253019.53,257051.43,260825.87,264337.46,267366.64,269532.27,271337.46,273289.33,276098.17,279462.22

Then, we want to create two different tables (rentals and home values) for California and Texas separately and sort prices in ascending order for futher analysis.

In [98]:
CA_rentals_df = rentals_df[rentals_df['State'] == 'CA']
CA_home_values_df = home_values_df[home_values_df['State'] == 'CA']

In [99]:
CA_rentals_df.head()

,RegionName,State,CountyName,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,...,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31
1,Los Angeles,CA,Los Angeles County,2510.28,2518.62,2517.04,2500.80,2475.75,2456.68,2450.78,...,2422.79,2438.46,2463.39,2495.74,2539.99,2595.53,2637.64,2668.22,2685.79,2707.70
8,San Diego,CA,San Diego County,2284.07,2291.36,2299.29,2286.39,2272.85,2265.46,2279.49,...,2366.21,2398.51,2448.29,2495.34,2551.46,2614.24,2678.74,2726.51,2759.68,2772.30
11,San Jose,CA,Santa Clara County,2868.48,2884.25,2903.05,2897.87,2874.41,2840.28,2810.83,...,2690.97,2708.56,2741.64,2787.35,2837.83,2883.61,2915.04,2922.41,2912.48,2905.46
17,San Francisco,CA,San Francisco County,3572.94,3589.09,3579.43,3555.11,3511.62,3466.05,NaN,...,2995.73,3035.71,3095.95,3169.00,3255.35,3322.72,3351.42,3338.95,3319.89,3300.35
28,Sacramento,CA,Sacramento County,1659.64,1666.01,1672.89,1674.49,1675.56,1689.61,1708.28,...,1792.64,1818.02,1860.51,1887.28,1916.21,1937.67,1958.55,1964.11,1967.95,1973.97

In [100]:
pd.set_option('display.float_format', '{:.2f}'.format)
CA_home_values_df.head()

,RegionName,State,CountyName,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,...,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31
1,Los Angeles,CA,Los Angeles County,718764.06,721724.91,723314.01,724390.00,722622.73,718010.76,717494.09,...,801985.93,808613.99,819086.43,832229.17,847534.39,860706.60,872235.27,881017.62,889984.77,899778.21
8,San Diego,CA,San Diego County,645762.30,649821.29,654802.93,660529.98,663553.88,664411.67,664944.17,...,742320.48,755756.36,771645.30,788159.71,802479.12,810910.50,814848.73,818352.86,824976.14,835340.08
11,San Jose,CA,Santa Clara County,1009791.58,1017585.40,1026506.95,1030951.89,1027681.45,1018708.04,1012265.51,...,1124015.17,1138767.53,1156826.02,1175738.38,1191324.95,1201241.77,1207695.07,1214337.53,1225332.30,1242729.61
17,San Francisco,CA,San Francisco County,1300892.81,1305780.82,1313046.29,1318969.55,1317944.85,1307716.01,1298795.78,...,1318962.55,1324124.31,1335257.51,1348733.18,1365550.25,1378208.95,1386862.17,1392545.09,1401980.23,1411204.38
28,Sacramento,CA,Sacramento County,351689.13,354148.35,357137.27,359918.10,361475.19,362126.87,362759.38,...,411161.76,417988.28,424587.17,430670.40,435921.56,439303.84,441521.48,443332.77,446153.51,449905.27

In [101]:
TX_rentals_df = rentals_df[rentals_df['State'] == 'TX']
TX_home_values_df = home_values_df[home_values_df['State'] == 'TX']

In [102]:
TX_rentals_df.head()

,RegionName,State,CountyName,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,...,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31
2,Houston,TX,Harris County,1393.81,1396.58,1398.85,1392.25,1381.54,1370.17,1368.06,...,1373.25,1388.31,1414.68,1446.19,1476.32,1502.31,1513.30,1521.81,1523.82,1531.17
4,San Antonio,TX,Bexar County,1194.69,1199.10,1200.11,1196.88,1194.36,1194.06,1199.38,...,1227.98,1241.48,1261.77,1285.28,1314.39,1349.42,1377.23,1389.72,1390.66,1394.12
9,Dallas,TX,Dallas County,1384.97,1392.60,1401.31,1399.37,1393.15,1386.81,1385.40,...,1409.04,1430.89,1459.24,1497.13,1536.56,1568.75,1591.49,1599.46,1610.59,1616.32
10,Austin,TX,Travis County,1473.39,1477.18,1486.93,1481.45,1466.91,1449.90,1448.64,...,1483.47,1515.42,1560.22,1615.74,1675.74,1733.73,1770.22,1786.55,1783.63,1789.18
15,Fort Worth,TX,Tarrant County,1357.49,1365.57,1371.84,1374.86,1372.76,1377.92,1387.10,...,1432.94,1448.54,1474.71,1502.93,1528.33,1555.02,1576.22,1591.78,1602.64,1611.51

In [103]:
TX_home_values_df.head()

,RegionName,State,CountyName,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,...,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31
2,Houston,TX,Harris County,192470.07,193304.53,194095.50,194661.91,194793.17,194865.30,195259.70,...,212538.59,215555.29,218936.54,222528.44,225677.57,227879.47,229380.34,231156.00,233653.48,236598.49
4,San Antonio,TX,Bexar County,191295.67,192483.68,193537.30,194249.51,194590.77,194859.07,195555.95,...,213935.53,216757.46,219858.64,223260.88,226477.76,228939.85,230744.21,232470.05,234943.26,237959.70
9,Dallas,TX,Dallas County,223110.97,225481.89,227739.70,228695.15,228468.47,227804.86,227776.65,...,253019.53,257051.43,260825.87,264337.46,267366.64,269532.27,271337.46,273289.33,276098.17,279462.22
10,Austin,TX,Travis County,396274.14,400479.25,405072.70,409079.24,411378.26,412399.09,413729.17,...,477997.88,491784.18,507573.55,522993.51,533830.09,538713.10,539081.17,539125.63,541329.34,546431.93
15,Fort Worth,TX,Tarrant County,226222.57,227510.49,228716.15,229592.57,229958.58,230200.29,230854.12,...,253699.88,256781.31,260177.86,263895.13,267413.46,270355.78,272998.96,276067.55,280038.69,284420.89